body{
    background-image: url('data/1.png');
    background-repeat: y-repeat;
    white-space:p;
    color: white;
    background-color: black;
}
h1{align-self: baseline;
    color:black;
    text-align: center;
    background-color: whitesmoke;
    border-color:black;
    border-style: double;
    border-radius:1mm;
}
fieldset{
    text-transform:uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style:unset;
    background-color: brown;
    border-radius: 5mm;
    border-style:groove;
    border-width: 2mm;
    border-color: black;
    range: infinite;
}
legend{
    font-weight:900;
    color: black;
    background-color: brown;
    border-radius: 10mm;
    border-style:solid;
    padding: 2mm;
    font-size: 5mm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
button{
    
    border-style:groove;
    border-width: 5px;
    border-color: rgb(119, 119, 172);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 5%;
    padding-right: 5%;
}

.style{
    background-color: black;
    color: white;
    font-size: 5mm;
    font-weight: 700;
    letter-spacing: 0.5mm;
    padding: 2px;
}